@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.app{
  @apply w-[100%] m-auto;
}

.logo{
  @apply w-[170px] h-[80px] rounded-2xl;
}

.navbar{
  @apply pt-[20px] p-0 flex justify-between items-center w-[80%] m-auto;
}

.icon {
  filter: brightness(0) saturate(100%) invert(94%) sepia(5%) saturate(1470%) hue-rotate(330deg) brightness(101%) contrast(89%);
}

.navbar-menu{
  @apply flex list-none gap-5 text-[#f4f1ea] text-[18px] cursor-pointer;
}

.navbar-right{
  @apply flex items-center gap-8;
}

.login-button{
  @apply bg-transparent text-[16px] text-[#f4f1ea] font-bold py-2 px-4 border border-[#49557e] rounded-full cursor-pointer hover:bg-[#49557e] hover:text-white transition-all duration-300;
}

.active{
  @apply text-[#f05a28] font-bold;
}

.navbar-search-icon{
  @apply relative;
}

.dot{
  @apply absolute min-w-[10px] min-h-[10px] rounded-full bg-[#f05a28] top-[-8px] right-[-8px] animate-pulse;
}

.header-content{
  @apply flex flex-col items-start gap-[1.5vw];
}

.view-manu-button{
  @apply bg-[#f05a28] text-[#f4f1ea] font-bold py-2 px-4 rounded-full cursor-pointer hover:bg-[#49557e] hover:text-white transition-all duration-300;
}

.explore-menu{
  @apply flex flex-col gap-5 justify-center items-center text-start;
}

.explore-menu-list{
  @apply flex justify-between items-center gap-8 text-center m-5 sm:overflow-x-scroll;
}

.item-active{
  @apply border-1 border-solid border-[#f05a28] p-1;
}